{% extends 'base/template.jinja2' %}
{% block title %}{{ asset.get_id() }} ({{ portfolio.name }}){% endblock %}
{% block body %}
  <h1>Asset: {{ asset.get_id() }} - {{ asset.name }} ({{ portfolio.name }})</h1>
  <a target="_blank" href="https://www.google.com/search?q=stock+{{ asset.get_id() }}">
    View on Google Finance
  </a>

  <h2>Balance</h2>
  {% with positions_list = [asset_position] %}
    {% include 'blocks/positions_table.jinja2' %}
  {% endwith %}

  <h2>History</h1>
   {% with operations_list = asset_operations %}
    {% include 'blocks/operations_table.jinja2' %}
  {% endwith %}
{% endblock %}
