{% extends 'base/template.jinja2' %}
{% block title %}{{ portfolio.name }} - Portfolio{% endblock %}
{% block body %}
  <h1>
    <a href="/" class="material-icons">arrow_back</a>
    Portfolio: {{ portfolio.name }}
  </h1>
  <a href="history/">History</a> · <a href="stats/">Stats</a>

  <h2>Positions</h2>
  {% with positions_list = portfolio_positions.values() %}
    {% include 'blocks/positions_table.jinja2' %}
  {% endwith %}
{% endblock %}
