<!doctype html>
<html>
  <head>
    <title>{% block title %}Finance Manager{% endblock %}</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
  <head>
  <body>{% block body %}{% endblock %}</body>
</html>
