<!doctype html>
<html>
  <head>
    <title>{% block title %}Finance Manager{% endblock %}</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Material+Icons&display=swap" rel="stylesheet">
    <base href="/">
  <head>
  <body>
    <div class="container">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
