<div class="flex-table" role="table" aria-label="Statistics">
  {% if stats %}
    <div class="flex-header-row" role="row">
      <div class="flex-cell" role="columnheader">Price</div>
      <div class="flex-cell" role="columnheader">EPS</div>
      <div class="flex-cell" role="columnheader">P/E</div>
      <div class="flex-cell" role="columnheader">Dividend Yield</div>
      <div class="flex-cell" role="columnheader">Debt / Equity</div>
      <div class="flex-cell" role="columnheader">Equity Value / EBITDA</div>
      <div class="flex-cell" role="columnheader">Profit Margin</div>
      <div class="flex-cell" role="columnheader">Revenue Growth</div>
    </div>

    <div class="flex-row" role="row">
      <div class="flex-cell" role="cell">
        {{ '{:,.2f}'.format(stats.price) }}
        <p class="subtext">{{ stats.asset.currency }}</p>
      </div>
      <div class="flex-cell" role="cell">
        {{ '{:,.2f}'.format(stats.eps) }}
      </div>
      <div class="flex-cell" role="cell">
        {{ '{:,.2f}'.format(stats.pe) }}
      </div>
      <div class="flex-cell" role="cell">
        {{ '{:,.2f}'.format(stats.dividend_yield * 100) }}%
      </div>
      <div class="flex-cell" role="cell">
        {{ '{:,.2f}'.format(stats.debt_to_equity) }}
      </div>
      <div class="flex-cell" role="cell">
        {{ '{:,.2f}'.format(stats.value_over_ebitda) }}
      </div>
      <div class="flex-cell" role="cell">
        {{ '{:,.2f}'.format(stats.profit_margin * 100) }}%
      </div>
      <div class="flex-cell" role="cell">
        {{ '{:,.2f}'.format(stats.revenue_growth * 100) }}%
      </div>
    </div>
  {% else %}
    <div class="flex-header-row" role="row">
      <div class="flex-cell" role="columnheader">--</div>
    </div>
    <div class="flex-row" role="row"><i>No stats found.</i></div>
  {% endif %}
</div>
